socials_upload.json
{
  "id": "1",
  "name": "OBS Multi-Platform Video Auto-Uploader",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const winPath = $input.item.json.video_path || '';\nlet relativePath = winPath.replace(/\\\\/g, '/');\n\n// Extract the filename from the absolute path to make the workflow generic\nif (relativePath.match(/^[A-Za-z]:/)) {\n  relativePath = relativePath.split('/').pop();\n}\nrelativePath = relativePath.replace(/^\\//, '');\n\n$input.item.json.docker_path = `/recordings/${relativePath}`;\nreturn $input.item;"
      },
      "id": "e964b71d-5b32-475f-9e79-bc948cd11442",
      "name": "Path Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.docker_path }}",
        "dataPropertyName": "data",
        "options": {},
        "fileSelector": "={{ $json.docker_path }}",
        "operation": "read"
      },
      "id": "18f8c47b-1cb8-48db-8197-25e2e850b182",
      "name": "Read Video File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        500,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f2",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('YouTube') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "587a929e-22d6-45ab-bb57-3aee3519f58d",
      "name": "IF YouTube",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "binaryPropertyName": "data",
        "title": "={{ $('n8n Form Trigger').item.json.title }}",
        "description": "={{ $('n8n Form Trigger').item.json.description }}",
        "privacyStatus": "public",
        "additionalFields": {}
      },
      "id": "3bc26ba3-2da9-49b4-9270-e4bcf5a2a226",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        960,
        100
      ],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "YOUR_CREDS_ID",
          "name": "YouTube Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f3",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('X (Twitter)') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f84091a1-9a74-4cc4-be76-4318de902a7b",
      "name": "IF X (Twitter)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "text": "={{ $('n8n Form Trigger').item.json.title }} - {{ $('n8n Form Trigger').item.json.description }}",
        "additionalFields": {
          "binaryCol": "data"
        }
      },
      "id": "a04eb938-13f4-47be-9f8d-28b7a0f2a271",
      "name": "X (Twitter)",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        960,
        240
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "YOUR_X_CREDS_ID",
          "name": "X Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f4",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('Facebook') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c14eb938-13f4-47be-9f8d-28b7a0f2a272",
      "name": "IF Facebook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/YOUR_FACEBOOK_PAGE_ID/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookPageApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "title",
              "value": "={{ $('n8n Form Trigger').item.json.title }}"
            },
            {
              "parameterType": "formData",
              "name": "description",
              "value": "={{ $('n8n Form Trigger').item.json.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d14eb938-13f4-47be-9f8d-28b7a0f2a273",
      "name": "FB: Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        380
      ],
      "credentials": {
        "facebookPageApi": {
          "id": "YOUR_FACEBOOK_CREDS_ID",
          "name": "Facebook Page Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f5",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('Instagram') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b14eb938-13f4-47be-9f8d-28b7a0f2a274",
      "name": "IF Cloud Bridge",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        560
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "fileContent": "data",
        "name": "={{ $('n8n Form Trigger').item.json.title + '.mp4' }}",
        "parents": []
      },
      "id": "e14eb938-13f4-47be-9f8d-28b7a0f2a275",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDS_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "options": {},
        "permissionsUi": {
          "permissionsValues": [
            {
              "role": "reader",
              "type": "anyone"
            }
          ]
        }
      },
      "id": "f14eb938-13f4-47be-9f8d-28b7a0f2a276",
      "name": "Google Drive Share",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDS_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f7",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('Instagram') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "024eb938-13f4-47be-9f8d-28b7a0f2a277",
      "name": "IF Instagram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookPageApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ 'https://drive.google.com/uc?export=download&confirm=t&id=' + $('Google Drive Upload').item.json.id }}"
            },
            {
              "name": "caption",
              "value": "={{ $('n8n Form Trigger').item.json.description }}"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "124eb938-13f4-47be-9f8d-28b7a0f2a278",
      "name": "IG: Create Reel Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        460
      ],
      "credentials": {
        "facebookPageApi": {
          "id": "YOUR_FACEBOOK_CREDS_ID",
          "name": "Facebook Page Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1f7b055-6b58-472e-8367-1bb9f25712f8",
              "leftValue": "={{ $('n8n Form Trigger').item.json.platforms.includes('TikTok') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "224eb938-13f4-47be-9f8d-28b7a0f2a279",
      "name": "IF TikTok",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        720
      ]
    },
    {
      "parameters": {
        "resource": "videoPost",
        "operation": "upload",
        "source": "FILE_UPLOAD",
        "binaryProperty": "data",
        "privacyLevel": "PUBLIC_TO_EVERYONE",
        "additionalFields": {
          "title": "={{ $('n8n Form Trigger').item.json.title }} - {{ $('n8n Form Trigger').item.json.description }}"
        }
      },
      "id": "tiktok-community-upload-node",
      "name": "TikTok Upload",
      "type": "@igabm/n8n-nodes-tiktok.tiktok",
      "typeVersion": 2,
      "position": [
        960,
        720
      ],
      "credentials": {
        "tiktokOAuth2Api": {
          "id": "YOUR_TIKTOK_CREDS_ID",
          "name": "TikTok Account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "options": {},
        "waitAmount": 15,
        "waitUnit": "seconds"
      },
      "id": "424eb938-13f4-47be-9f8d-28b7a0f2a281",
      "name": "IG: Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        460
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Upload').item.json.id }}",
          "mode": "id"
        }
      },
      "id": "524eb938-13f4-47be-9f8d-28b7a0f2a282",
      "name": "Google Drive Delete",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1540,
        760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDS_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v22.0/{{ $('IG: Create Reel Container').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookPageApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-check-status-node",
      "name": "IG: Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        460
      ],
      "credentials": {
        "facebookPageApi": {
          "id": "YOUR_FACEBOOK_CREDS_ID",
          "name": "Facebook Page Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ig-status-check-condition",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ig-status-ready-node",
      "name": "IG: Status Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookPageApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('IG: Create Reel Container').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-publish-reel-node",
      "name": "IG: Publish Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        460
      ],
      "credentials": {
        "facebookPageApi": {
          "id": "YOUR_FACEBOOK_CREDS_ID",
          "name": "Facebook Page Account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "options": {},
        "waitAmount": 10,
        "waitUnit": "minutes"
      },
      "id": "wait-for-cleanup-node",
      "name": "Wait for Cleanup",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2540,
        460
      ]
    },
    {
      "parameters": {
        "path": "obs-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a82ea5bb-1111-4444-8888-obs-preview-1",
      "name": "Webhook GET: obs-preview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirm & Approve OBS Recording</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        :root {\n            --bg-gradient: linear-gradient(135deg, #0b0813 0%, #110c24 50%, #1a0f35 100%);\n            --card-bg: rgba(255, 255, 255, 0.03);\n            --card-border: rgba(255, 255, 255, 0.08);\n            --text-primary: #f3f1f6;\n            --text-secondary: #a5a1b8;\n            --accent-primary: #8a2be2;\n            --accent-glow: rgba(138, 43, 226, 0.3);\n            --accent-hover: #9b42f5;\n            --yt-color: #ff0000;\n            --ig-color: #e1306c;\n            --tt-color: #00f2fe;\n            --x-color: #ffffff;\n            --fb-color: #1877f2;\n        }\n\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n        }\n\n        body {\n            font-family: 'Outfit', sans-serif;\n            background: var(--bg-gradient);\n            color: var(--text-primary);\n            min-height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n            overflow-x: hidden;\n        }\n\n        .container {\n            width: 100%;\n            max-width: 1000px;\n            background: var(--card-bg);\n            border: 1px solid var(--card-border);\n            border-radius: 24px;\n            backdrop-filter: blur(20px);\n            -webkit-backdrop-filter: blur(20px);\n            padding: 40px;\n            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);\n            display: flex;\n            flex-direction: column;\n            gap: 30px;\n            transition: all 0.5s ease;\n        }\n\n        header {\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 2.2rem;\n            font-weight: 700;\n            letter-spacing: -0.5px;\n            background: linear-gradient(to right, #fff, #b7a9f0);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            margin-bottom: 8px;\n        }\n\n        p.subtitle {\n            color: var(--text-secondary);\n            font-size: 1rem;\n        }\n\n        .content-grid {\n            display: grid;\n            grid-template-columns: 1.2fr 1fr;\n            gap: 40px;\n        }\n\n        @media (max-width: 850px) {\n            .content-grid {\n                grid-template-columns: 1fr;\n            }\n        }\n\n        .video-section {\n            display: flex;\n            flex-direction: column;\n            gap: 15px;\n        }\n\n        .video-wrapper {\n            position: relative;\n            width: 100%;\n            aspect-ratio: 16/9;\n            background: #000;\n            border-radius: 16px;\n            overflow: hidden;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);\n            border: 1px solid rgba(255, 255, 255, 0.05);\n        }\n\n        video {\n            width: 100%;\n            height: 100%;\n            object-fit: contain;\n        }\n\n        .video-info {\n            background: rgba(0, 0, 0, 0.2);\n            border-radius: 12px;\n            padding: 15px;\n            font-size: 0.85rem;\n            color: var(--text-secondary);\n            border: 1px solid rgba(255, 255, 255, 0.03);\n            word-break: break-all;\n        }\n\n        .video-info strong {\n            color: var(--text-primary);\n        }\n\n        .form-section {\n            display: flex;\n            flex-direction: column;\n            gap: 20px;\n        }\n\n        .input-group {\n            display: flex;\n            flex-direction: column;\n            gap: 8px;\n        }\n\n        label {\n            font-size: 0.9rem;\n            font-weight: 500;\n            color: var(--text-secondary);\n        }\n\n        input[type=\"text\"], textarea {\n            width: 100%;\n            background: rgba(0, 0, 0, 0.3);\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            border-radius: 12px;\n            padding: 14px 16px;\n            color: #fff;\n            font-family: inherit;\n            font-size: 0.95rem;\n            transition: all 0.3s ease;\n        }\n\n        input[type=\"text\"]:focus, textarea:focus {\n            outline: none;\n            border-color: var(--accent-primary);\n            box-shadow: 0 0 10px var(--accent-glow);\n            background: rgba(0, 0, 0, 0.4);\n        }\n\n        textarea {\n            height: 120px;\n            resize: vertical;\n        }\n\n        .platforms-group {\n            display: flex;\n            flex-direction: column;\n            gap: 12px;\n        }\n\n        .platform-options {\n            display: grid;\n            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));\n            gap: 10px;\n        }\n\n        .platform-card {\n            position: relative;\n            background: rgba(255, 255, 255, 0.02);\n            border: 1px solid rgba(255, 255, 255, 0.06);\n            border-radius: 12px;\n            padding: 12px;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n            user-select: none;\n        }\n\n        .platform-card:hover {\n            background: rgba(255, 255, 255, 0.05);\n            border-color: rgba(255, 255, 255, 0.15);\n            transform: translateY(-2px);\n        }\n\n        .platform-card input[type=\"checkbox\"] {\n            position: absolute;\n            opacity: 0;\n            cursor: pointer;\n            height: 0;\n            width: 0;\n        }\n\n        .platform-icon {\n            width: 20px;\n            height: 20px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: bold;\n            font-size: 0.85rem;\n            border-radius: 50%;\n            color: #fff;\n        }\n\n        .platform-card[data-platform=\"YouTube\"].active {\n            border-color: var(--yt-color);\n            box-shadow: 0 0 12px rgba(255, 0, 0, 0.2);\n            background: rgba(255, 0, 0, 0.05);\n        }\n        .platform-card[data-platform=\"YouTube\"] .platform-icon {\n            background: var(--yt-color);\n        }\n\n        .platform-card[data-platform=\"Instagram\"].active {\n            border-color: var(--ig-color);\n            box-shadow: 0 0 12px rgba(225, 48, 108, 0.2);\n            background: rgba(225, 48, 108, 0.05);\n        }\n        .platform-card[data-platform=\"Instagram\"] .platform-icon {\n            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);\n        }\n\n        .platform-card[data-platform=\"TikTok\"].active {\n            border-color: var(--tt-color);\n            box-shadow: 0 0 12px rgba(0, 242, 254, 0.2);\n            background: rgba(0, 242, 254, 0.05);\n        }\n        .platform-card[data-platform=\"TikTok\"] .platform-icon {\n            background: #010101;\n            border: 1px solid var(--tt-color);\n        }\n\n        .platform-card[data-platform=\"X (Twitter)\"].active {\n            border-color: var(--x-color);\n            box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);\n            background: rgba(255, 255, 255, 0.05);\n        }\n        .platform-card[data-platform=\"X (Twitter)\"] .platform-icon {\n            background: #000;\n            border: 1px solid #fff;\n        }\n\n        .platform-card[data-platform=\"Facebook\"].active {\n            border-color: var(--fb-color);\n            box-shadow: 0 0 12px rgba(24, 119, 242, 0.2);\n            background: rgba(24, 119, 242, 0.05);\n        }\n        .platform-card[data-platform=\"Facebook\"] .platform-icon {\n            background: var(--fb-color);\n        }\n\n        .platform-name {\n            font-size: 0.85rem;\n            font-weight: 500;\n        }\n\n        .submit-btn {\n            background: var(--accent-primary);\n            color: #fff;\n            border: none;\n            border-radius: 12px;\n            padding: 16px;\n            font-family: inherit;\n            font-size: 1rem;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 10px;\n            box-shadow: 0 4px 15px var(--accent-glow);\n            margin-top: 10px;\n        }\n\n        .submit-btn:hover {\n            background: var(--accent-hover);\n            transform: translateY(-1px);\n            box-shadow: 0 6px 20px rgba(138, 43, 226, 0.5);\n        }\n\n        .submit-btn:active {\n            transform: translateY(1px);\n        }\n\n        .submit-btn:disabled {\n            background: rgba(255, 255, 255, 0.1);\n            color: rgba(255, 255, 255, 0.3);\n            box-shadow: none;\n            cursor: not-allowed;\n        }\n\n        .loading-spinner {\n            width: 20px;\n            height: 20px;\n            border: 2px solid rgba(255, 255, 255, 0.3);\n            border-radius: 50%;\n            border-top-color: #fff;\n            animation: spin 0.8s linear infinite;\n            display: none;\n        }\n\n        @keyframes spin {\n            to { transform: rotate(360deg); }\n        }\n\n        .success-state {\n            display: none;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            text-align: center;\n            padding: 40px 0;\n            gap: 20px;\n            animation: fadeIn 0.5s ease forwards;\n        }\n\n        .success-icon {\n            width: 80px;\n            height: 80px;\n            background: rgba(46, 213, 115, 0.1);\n            border: 1px solid rgb(46, 213, 115);\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: rgb(46, 213, 115);\n            font-size: 2.5rem;\n            box-shadow: 0 0 20px rgba(46, 213, 115, 0.2);\n        }\n\n        .success-title {\n            font-size: 1.8rem;\n            font-weight: 700;\n            color: #fff;\n        }\n\n        .success-desc {\n            color: var(--text-secondary);\n            max-width: 450px;\n            line-height: 1.6;\n        }\n\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(10px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\" id=\"main-container\">\n        <header>\n            <h1>🎬 Social Media Upload Approval</h1>\n            <p class=\"subtitle\">Review your OBS recording and customize the metadata before publishing.</p>\n        </header>\n\n        <div class=\"content-grid\" id=\"workflow-content\">\n            <div class=\"video-section\">\n                <label>Video Preview</label>\n                <div class=\"video-wrapper\">\n                    <video id=\"video-player\" controls preload=\"metadata\">\n                        <source src=\"\" type=\"video/mp4\">\n                        Your browser does not support the video tag.\n                    </video>\n                </div>\n                <div class=\"video-info\">\n                    <strong>Source File:</strong> <span id=\"file-path-text\">C:\\path\\to\\video.mp4</span>\n                </div>\n            </div>\n\n            <div class=\"form-section\">\n                <form id=\"approval-form\">\n                    <input type=\"hidden\" id=\"video_path\" name=\"video_path\">\n\n                    <div class=\"input-group\">\n                        <label for=\"title\">Video Title</label>\n                        <input type=\"text\" id=\"title\" name=\"title\" required placeholder=\"Enter video title...\">\n                    </div>\n\n                    <div class=\"input-group\" style=\"margin-top: 15px;\">\n                        <label for=\"description\">Caption / Description</label>\n                        <textarea id=\"description\" name=\"description\" placeholder=\"Write a description or caption for your social posts...\"></textarea>\n                    </div>\n\n                    <div class=\"platforms-group\" style=\"margin-top: 20px;\">\n                        <label>Select Target Platforms</label>\n                        <div class=\"platform-options\">\n                            <label class=\"platform-card\" data-platform=\"YouTube\">\n                                <input type=\"checkbox\" name=\"platforms\" value=\"YouTube\">\n                                <div class=\"platform-icon\">Y</div>\n                                <span class=\"platform-name\">YouTube</span>\n                            </label>\n                            <label class=\"platform-card\" data-platform=\"Instagram\">\n                                <input type=\"checkbox\" name=\"platforms\" value=\"Instagram\">\n                                <div class=\"platform-icon\">I</div>\n                                <span class=\"platform-name\">Instagram</span>\n                            </label>\n                            <label class=\"platform-card\" data-platform=\"TikTok\">\n                                <input type=\"checkbox\" name=\"platforms\" value=\"TikTok\">\n                                <div class=\"platform-icon\">T</div>\n                                <span class=\"platform-name\">TikTok</span>\n                            </label>\n                            <label class=\"platform-card\" data-platform=\"X (Twitter)\">\n                                <input type=\"checkbox\" name=\"platforms\" value=\"X (Twitter)\">\n                                <div class=\"platform-icon\">X</div>\n                                <div style=\"display: flex; flex-direction: column; align-items: flex-start;\">\n                                    <span class=\"platform-name\">X (Twitter)</span>\n                                    <span style=\"font-size: 0.65rem; color: #ff9f43; font-weight: 500; margin-top: 1px;\">⚠️ Paid API Only</span>\n                                </div>\n                            </label>\n                            <label class=\"platform-card\" data-platform=\"Facebook\">\n                                <input type=\"checkbox\" name=\"platforms\" value=\"Facebook\">\n                                <div class=\"platform-icon\">F</div>\n                                <span class=\"platform-name\">Facebook</span>\n                            </label>\n                        </div>\n                    </div>\n\n                    <button type=\"submit\" class=\"submit-btn\" id=\"submit-btn\" style=\"width: 100%; margin-top: 25px;\">\n                        <div class=\"loading-spinner\" id=\"spinner\"></div>\n                        <span id=\"btn-text\">🚀 Approve & Publish</span>\n                    </button>\n                </form>\n            </div>\n        </div>\n\n        <div class=\"success-state\" id=\"success-screen\">\n            <div class=\"success-icon\">✓</div>\n            <h2 class=\"success-title\">Upload Pipeline Started</h2>\n            <p class=\"success-desc\">\n                Your video is now being processed and uploaded to the selected social platforms. \n                You can safely close this tab or return to OBS.\n            </p>\n        </div>\n    </div>\n\n    <script>\n        const urlParams = new URLSearchParams(window.location.search);\n        const rawVideoPath = urlParams.get('video_path') || '';\n        const rawTitle = urlParams.get('title') || '';\n\n        document.getElementById('video_path').value = rawVideoPath;\n        document.getElementById('file-path-text').textContent = rawVideoPath;\n        document.getElementById('title').value = rawTitle;\n\n        // Dynamically resolve webhook base path (handles /webhook-test/ and /webhook/ automatically)\n        const isTest = window.location.pathname.includes('/webhook-test/');\n        const webhookBase = isTest ? '/webhook-test/' : '/webhook/';\n\n        if (rawVideoPath) {\n            const encodedPath = encodeURIComponent(rawVideoPath);\n            const videoUrl = `${webhookBase}obs-stream-video?video_path=${encodedPath}`;\n            const videoPlayer = document.getElementById('video-player');\n            videoPlayer.querySelector('source').src = videoUrl;\n            videoPlayer.load();\n        }\n\n        const cards = document.querySelectorAll('.platform-card');\n        cards.forEach(card => {\n            const checkbox = card.querySelector('input[type=\"checkbox\"]');\n            \n            checkbox.addEventListener('change', () => {\n                if (checkbox.checked) {\n                    card.classList.add('active');\n                } else {\n                    card.classList.remove('active');\n                }\n                validateForm();\n            });\n            // Removed the custom click listener to prevent the double-toggling bug on label clicks\n        });\n\n        const submitBtn = document.getElementById('submit-btn');\n        function validateForm() {\n            const checkedPlatforms = document.querySelectorAll('input[name=\"platforms\"]:checked');\n            submitBtn.disabled = checkedPlatforms.length === 0;\n        }\n        \n        validateForm();\n\n        const form = document.getElementById('approval-form');\n        form.addEventListener('submit', async (e) => {\n            e.preventDefault();\n\n            const spinner = document.getElementById('spinner');\n            const btnText = document.getElementById('btn-text');\n            spinner.style.display = 'block';\n            btnText.textContent = 'Processing...';\n            submitBtn.disabled = true;\n\n            const selectedPlatforms = Array.from(document.querySelectorAll('input[name=\"platforms\"]:checked')).map(cb => cb.value);\n\n            const payload = {\n                video_path: document.getElementById('video_path').value,\n                title: document.getElementById('title').value,\n                description: document.getElementById('description').value,\n                platforms: selectedPlatforms\n            };\n\n            try {\n                const response = await fetch(`${webhookBase}obs-approve`, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(payload)\n                });\n\n                if (response.ok) {\n                    document.getElementById('workflow-content').style.display = 'none';\n                    document.getElementById('success-screen').style.display = 'flex';\n                } else {\n                    alert('Error starting upload pipeline. Please check n8n connections.');\n                    resetButton();\n                }\n            } catch (err) {\n                console.error(err);\n                alert('Connection to n8n server failed.');\n                resetButton();\n            }\n        });\n\n        function resetButton() {\n            const spinner = document.getElementById('spinner');\n            const btnText = document.getElementById('btn-text');\n            spinner.style.display = 'none';\n            btnText.textContent = '🚀 Approve & Publish';\n            submitBtn.disabled = false;\n            validateForm();\n        }\n</script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "a82ea5bb-2222-4444-8888-obs-preview-2",
      "name": "Respond: obs-preview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {
        "path": "obs-stream-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a82ea5bb-3333-4444-8888-obs-stream-3",
      "name": "Webhook GET: obs-stream-video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const winPath = $input.item.json.query.video_path || '';\nlet relativePath = winPath.replace(/\\\\/g, '/');\n\n// Extract the filename from the absolute path to make the workflow generic\nif (relativePath.match(/^[A-Za-z]:/)) {\n  relativePath = relativePath.split('/').pop();\n}\nrelativePath = relativePath.replace(/^\\//, '');\n\n$input.item.json.docker_path = `/recordings/${relativePath}`;\nreturn $input.item;"
      },
      "id": "a82ea5bb-4444-4444-8888-obs-stream-4",
      "name": "Path Translation: Stream Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        260
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.docker_path }}",
        "dataPropertyName": "data",
        "options": {},
        "fileSelector": "={{ $json.docker_path }}",
        "operation": "read"
      },
      "id": "a82ea5bb-5555-4444-8888-obs-stream-5",
      "name": "Read Video File: Stream Video",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "data",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "video/mp4"
              }
            ]
          }
        }
      },
      "id": "a82ea5bb-6666-4444-8888-obs-stream-6",
      "name": "Respond: Stream Video",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obs-approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a82ea5bb-7777-4444-8888-obs-approve-7",
      "name": "Webhook POST: obs-approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"status\":\"success\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a82ea5bb-8888-4444-8888-obs-approve-8",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook POST: obs-approve').item.json.body || {};\nreturn {\n  video_path: body.video_path || '',\n  title: body.title || '',\n  description: body.description || '',\n  platforms: body.platforms || []\n};"
      },
      "id": "2bc35ea5-1de8-48b4-9270-e4bcf5a2a225",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        360
      ]
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Path Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path Translation": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "IF YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF X (Twitter)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Cloud Bridge",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF YouTube": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF X (Twitter)": {
      "main": [
        [
          {
            "node": "X (Twitter)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF Facebook": {
      "main": [
        [
          {
            "node": "FB: Upload Video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF Cloud Bridge": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Google Drive Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Share": {
      "main": [
        [
          {
            "node": "IF Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Instagram": {
      "main": [
        [
          {
            "node": "IG: Create Reel Container",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF TikTok": {
      "main": [
        [
          {
            "node": "TikTok Upload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IG: Create Reel Container": {
      "main": [
        [
          {
            "node": "IG: Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Wait for Processing": {
      "main": [
        [
          {
            "node": "IG: Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Check Status": {
      "main": [
        [
          {
            "node": "IG: Status Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Status Ready?": {
      "main": [
        [
          {
            "node": "IG: Publish Reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG: Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Publish Reel": {
      "main": [
        [
          {
            "node": "Wait for Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Cleanup": {
      "main": [
        [
          {
            "node": "Google Drive Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET: obs-preview": {
      "main": [
        [
          {
            "node": "Respond: obs-preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET: obs-stream-video": {
      "main": [
        [
          {
            "node": "Path Translation: Stream Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path Translation: Stream Video": {
      "main": [
        [
          {
            "node": "Read Video File: Stream Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File: Stream Video": {
      "main": [
        [
          {
            "node": "Respond: Stream Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST: obs-approve": {
      "main": [
        [
          {
            "node": "n8n Form Trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}